# Second exercise: New York Trees

This is a very similar exercise as Crashes. I will do this with less elaboration on my steps.

In [183]:
import pandas as pd
import numpy as np

Import the dataset.

In [184]:
df=pd.read_csv("trees_1000.csv", parse_dates=[0])
df.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,2015-08-27,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,2015-09-03,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,2015-09-05,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,2015-09-05,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,2015-08-30,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

In [185]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  1000 non-null   datetime64[ns]
 1   tree_id     1000 non-null   int64
 2   block_id    1000 non-null   int64
 3   the_geom    1000 non-null   object
 4   tree_dbh    1000 non-null   int64
 5   stump_diam  1000 non-null   int64
 6   curb_loc    1000 non-null   object
 7   status      1000 non-null   object
 8   health      984 non-null    object
 9   spc_latin   984 non-null    object
 10  spc_common  984 non-null    object
 11  steward     984 non-null    object
 12  guards      984 non-null    object
 13  sidewalk    984 non-null    object
 14  user_type   1000 non-null   object
 15  problems    984 non-null    object
 16  root_stone  1000 non-null   object
 17  root_grate  1000 non-null   object
 18  root_other  1000 non-null   object
 19  trnk_wire   1000 non-null   object
 20  trnk_light  1000 non-null   object
 21  trnk_other  1000 non-null   object
 22  brnch_ligh  1000 non-null   object
 23  brnch_shoe  1000 non-null   object
 24  brnch_othe  1000 non-null   object
 25  address     1000 non-null   object
 26  zipcode     1000 non-null   int64
 27  zip_city    1000 non-null   object
 28  cb_num      1000 non-null   int64
 29  borocode    1000 non-null   int64
 30  boroname    1000 non-null   object
 31  cncldist    1000 non-null   int64
 32  st_assem    1000 non-null   int64
 33  st_senate   1000 non-null   int64
 34  nta         1000 non-null   object
 35  nta_name    1000 non-null   object
 36  boro_ct     1000 non-null   int64
 37  state       1000 non-null   object
 38  latitude    1000 non-null   float64
 39  longitude   1000 non-null   float64
 40  x_sp        1000 non-null   float64
 41  y_sp        1000 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(11), object(26)
memory usage: 328.2+ KB

Set index.

In [186]:
df.set_index("tree_id", inplace=True)
df.head()

,created_at,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
tree_id,,,,,,,,,,,,,,,,,,,,,
180683,2015-08-27,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
200540,2015-09-03,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
204026,2015-09-05,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
204337,2015-09-05,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
189565,2015-08-30,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,American linden,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

## Coordinates and addresses
At first sight, most dtypes look to be correct. De features *the_geom* and (*longitude*, *latitude*) seem to be interchangeable, so we look into that.

In [187]:
fake_long=df["the_geom"].apply(lambda x: np.float64(x[7:-1].split(" ")[0]))
fake_lat=df["the_geom"].apply(lambda x: np.float64(x[7:-1].split(" ")[1]))
print(f"Mean difference between longitude: {np.mean(np.abs(df['longitude']-fake_long))}")
print(f"Mean difference between  latitude: {np.mean(np.abs(df['latitude']-fake_lat))}")

Mean difference between longitude: 2.5393553784169855e-09
Mean difference between  latitude: 2.518128987105683e-09

so very small, although the _the_geom_ is more precisely saved in the csv. So just to be sure, we replace the longitude and latitude with that. (The difference could just come from floating-point precision mismatces, but I don't want to go down that path.)

In [188]:
df["longitude"]=fake_long
df["latitude"]=fake_lat
df.drop("the_geom", axis=1,inplace=True)
df.head()

,created_at,block_id,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,spc_common,steward,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
tree_id,,,,,,,,,,,,,,,,,,,,,
180683,2015-08-27,348711,3,0,OnCurb,Alive,Fair,Acer rubrum,red maple,None,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
200540,2015-09-03,315986,21,0,OnCurb,Alive,Fair,Quercus palustris,pin oak,None,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
204026,2015-09-05,218365,3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1or2,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
204337,2015-09-05,217969,10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,None,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
189565,2015-08-30,223043,21,0,OnCurb,Alive,Good,Tilia americana,American linden,None,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

The columns *x_sp* and *y_sp* specify the location in the plane of New York State. So this is probably also double information that could be recalculated if really needed. I choose to drop it. 

Furthermore, every trees is in New York State, so we don't need to repeat that for every row.

In [189]:
df.drop(["state", "x_sp", "y_sp"], axis=1, inplace=True)

## Consolidate text values
We look at some textual values now, to see if we can consolidate them.

In [190]:
df.loc[:,"status":"brnch_othe"].head()

,status,health,spc_latin,spc_common,steward,guards,sidewalk,user_type,problems,root_stone,root_grate,root_other,trnk_wire,trnk_light,trnk_other,brnch_ligh,brnch_shoe,brnch_othe
tree_id,,,,,,,,,,,,,,,,,,
180683,Alive,Fair,Acer rubrum,red maple,None,None,NoDamage,TreesCount Staff,None,No,No,No,No,No,No,No,No,No
200540,Alive,Fair,Quercus palustris,pin oak,None,None,Damage,TreesCount Staff,Stones,Yes,No,No,No,No,No,No,No,No
204026,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,1or2,None,Damage,Volunteer,None,No,No,No,No,No,No,No,No,No
204337,Alive,Good,Gleditsia triacanthos var. inermis,honeylocust,None,None,Damage,Volunteer,Stones,Yes,No,No,No,No,No,No,No,No
189565,Alive,Good,Tilia americana,American linden,None,None,Damage,Volunteer,Stones,Yes,No,No,No,No,No,No,No,No

All the yes/no vfeatures can easily be changed to 0/1.

In [191]:
df.loc[:,"root_stone":"brnch_othe"].replace(to_replace=['No', 'Yes'], value=[0, 1], inplace=True)

In [192]:
df.loc[:,"root_stone":"brnch_othe"].head()

,root_stone,root_grate,root_other,trnk_wire,trnk_light,trnk_other,brnch_ligh,brnch_shoe,brnch_othe
tree_id,,,,,,,,,
180683,No,No,No,No,No,No,No,No,No
200540,Yes,No,No,No,No,No,No,No,No
204026,No,No,No,No,No,No,No,No,No
204337,Yes,No,No,No,No,No,No,No,No
189565,Yes,No,No,No,No,No,No,No,No

For the other terxt values, we take a look at how many unique ones there are.

In [193]:
for colname in df.loc[:,"curb_loc":"problems"].columns:
    uniqvals=pd.unique(df[colname])
    print(f"{colname:>10}: {len(uniqvals)}\n{uniqvals}\n")

  curb_loc: 2
['OnCurb' 'OffsetFromCurb']

    status: 3
['Alive' 'Dead' 'Stump']

    health: 4
['Fair' 'Good' 'Poor' nan]

 spc_latin: 40
['Acer rubrum' 'Quercus palustris' 'Gleditsia triacanthos var. inermis'
 'Tilia americana' 'Platanus x acerifolia' 'Ginkgo biloba'
 'Quercus phellos' 'Acer pseudoplatanus' 'Acer ginnala' 'Acer campestre'
 'Ulmus americana' 'Fraxinus' 'Malus' 'Acer saccharinum' 'Corylus colurna'
 'Prunus serotina' 'Juniperus virginiana' 'Acer platanoides'
 'Liriodendron tulipifera' 'Quercus acutissima' 'Styphnolobium japonicum'
 'Quercus bicolor' 'Chionanthus retusus' 'Magnolia grandiflora'
 'Liquidambar styraciflua' 'Pyrus calleryana' 'Quercus coccinea'
 'Chamaecyparis thyoides' 'Quercus velutina' 'Zelkova serrata'
 'Quercus alba' 'Aesculus glabra' 'Quercus rubra' nan 'Tilia tomentosa'
 'Carya glabra' 'Cladrastis kentukea' 'Morus' 'Pseudotsuga menziesii'
 'Lagerstroemia']

spc_common: 40
['red maple' 'pin oak' 'honeylocust' 'American linden' 'London planetree'
 'ginkgo' 'willow oak' 'sycamore maple' 'Amur maple' 'hedge maple'
 'American elm' 'ash' 'crab apple' 'silver maple' 'Turkish hazelnut'
 'black cherry' 'eastern redcedar' 'Norway maple' 'tulip-poplar'
 'sawtooth oak' 'Sophora' 'swamp white oak' 'Chinese fringetree'
 'southern magnolia' 'sweetgum' 'Callery pear' 'scarlet oak'
 'Atlantic white cedar' 'black oak' 'Japanese zelkova' 'white oak'
 'Ohio buckeye' 'northern red oak' nan 'silver linden' 'pignut hickory'
 'Kentucky yellowwood' 'mulberry' 'Douglas-fir' 'crepe myrtle']

   steward: 5
['None' '1or2' '3or4' nan '4orMore']

    guards: 5
['None' 'Helpful' 'Harmful' 'Unsure' nan]

  sidewalk: 3
['NoDamage' 'Damage' nan]

 user_type: 3
['TreesCount Staff' 'Volunteer' 'NYC Parks Staff']

  problems: 47
['None' 'Stones' 'MetalGrates' 'RootOther' 'Stones,BranchOther'
 'TrunkLights,BranchLights' 'RootOther,TrunkOther,BranchOther'
 'BranchOther' 'Stones,BranchLights' 'TrunkOther,BranchLights'
 'MetalGrates,TrunkOther' 'TrunkOther' 'Stones,WiresRope' 'BranchLights'
 'WiresRope,BranchOther' 'RootOther,BranchOther'
 'Stones,WiresRope,BranchLights' 'WiresRope' 'WiresRope,BranchLights'
 'Stones,TrunkOther' 'WiresRope,TrunkLights,BranchLights'
 'Stones,RootOther' 'Stones,BranchLights,BranchOther'
 'Stones,RootOther,BranchLights' 'MetalGrates,BranchOther'
 'Stones,RootOther,TrunkOther' 'RootOther,TrunkOther'
 'Stones,TrunkOther,BranchLights,BranchOther'
 'Stones,TrunkOther,BranchOther' 'RootOther,BranchLights'
 'TrunkOther,BranchOther' 'RootOther,WiresRope,BranchLights'
 'Stones,TrunkOther,BranchLights' 'BranchLights,Sneakers'
 'Stones,RootOther,TrunkOther,BranchLights' nan
 'MetalGrates,TrunkOther,BranchOther' 'TrunkLights,BranchOther'
 'TrunkLights' 'Stones,RootOther,BranchOther' 'RootOther,WiresRope'
 'BranchLights,BranchOther' 'Stones,MetalGrates'
 'RootOther,TrunkOther,BranchLights'
 'Stones,WiresRope,TrunkOther,BranchLights'
 'WiresRope,TrunkOther,BranchOther'
 'RootOther,WiresRope,TrunkOther,BranchLights']

Let's go over them one by one.

### Species name
The tree species is provides in Latin as well as in common English. There should be a one to onerelation between them, so it would be better to save one of them in another table. For this simple case, I will just drop the Latin names.

In [194]:
df.drop(["spc_latin"],axis=1, inplace=True)

### curb_loc, damage
These are binary choices, so we change them.

In [195]:
df["curb_loc"].replace(["OnCurb", "OffsetCurb"], [1,0], inplace=True)
df["sidewalk"].replace(["Damage", "NoDamage"], [1,0], inplace=True)
df.rename(columns={"curb_loc":"is_OnCurb", "sidewalk":"sidewalk_damaged"}, inplace=True)

### status
Is "alive", "dead" or "stump", so same information can be condensed to "is_dead" and "is_stump".

In [196]:
status=pd.get_dummies(df["status"], drop_first=True)

In [204]:
df["is_dead"]=status.iloc[:,0]
df["is_stump"]=status.iloc[:,1]
df.drop("status", axis=1, inplace=True)

### health
Can be made numeric

In [205]:
df["health"].replace(["Good", "Fair", "Poor"], [2,1,0], inplace=True)

### steward

This is a string representing a range of numbers, so can be represented by the lower limit.

In [ ]:
['None' '1or2' '3or4' nan '4orMore']
df["steward"].replace(['None' '1or2' '3or4' nan '4orMore'], [2,1,0], inplace=True)